<div class="d-flex justify-content-center align-items-center h-100"
  *ngIf="loading">
  <i class="fa fa-spinner rotate-circle"
    style="font-size: 172px;"></i>
</div>

<div class="card my-5 mx-auto"
  style="max-width: 700px;"
  *ngIf="!loading">
  <img src="{{posterBaseUrl+movieDetail.backdrop_path}}"
    class="card-img-top"
    alt="">
  <div class="card-body">
    <h5 class="card-title">{{movieDetail!.title}}</h5>
    <p class="card-text">{{movieDetail!.overview}}</p>
    <a routerLink="/featured-movies"
      class="btn btn-primary">
      <i class="fa fa-arrow-left mr-3"></i> <span>Back to Movies List</span></a>
  </div>
</div>
