<form class="form container d-flex flex flex-row justify-content-between align-items-center my-5 bg-light text-primary">

  <div class="form-group m-0">
    <input type="radio"
      id="showDeclarativeForm"
      name="showDeclarativeForm"
      [(ngModel)]="formType"
      value="showDeclarativeForm"
      (click)="checkboxClickHandler($event, 'showDeclarativeForm')">
    <label for="showDeclarativeForm"
      class="col-form-label font-weight-bold pl-3">Show Declarative Form</label>
  </div>

  <div class="form-group m-0">
    <input type="radio"
      id="showReactiveForm"
      name="showReactiveForm"
      [(ngModel)]="formType"
      value="showReactiveForm"
      (click)="checkboxClickHandler($event, 'showReactiveForm')">
    <label for="showReactiveForm"
      class="col-form-label font-weight-bold pl-3">Show Reactive Form</label>
  </div>

  <div class="form-group m-0">
    <input type="radio"
      id="showDynamicForm"
      name="showDynamicForm"
      [(ngModel)]="formType"
      value="showDynamicForm"
      (click)="checkboxClickHandler($event, 'showDynamicForm')">
    <label for="showDynamicForm"
      class="col-form-label font-weight-bold pl-3">Show Dynamic Form</label>
  </div>
</form>

<app-user-settings-forms *ngIf="showDeclarativeForm"></app-user-settings-forms>

<app-user-settings-reactive-form *ngIf="showReactiveForm"></app-user-settings-reactive-form>

<app-user-registration *ngIf="showDynamicForm"></app-user-registration>
